/* Enroll courses css starts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
.card {
  position: relative;
  /* min-height: 270px; */
}

.card .img-container {
  position: relative;
  background-color: white !important;
}

.picture {
  width: 150px !important;
  height: 150px !important;
}

 .courses a {
  text-decoration: none !important;
  color: black !important;
}

.fa-dot-circle-o {
  font-size: 15px;
  align-items: center;
}

.underline-on-click.active {
  border-bottom: 3px solid blue;
}

@media screen and (max-width: 1295px) {
  .height-card {
    min-height: 330px;
  }
}

@media screen and (max-width: 768px) {
  .height-card {
    min-height: fit-content !important;
  }
}

@media screen and (max-width: 992px) {
  .height-card {
    min-height: 345px;
  }
}
@media screen and (max-width: 1050px) {
  .height-card {
    min-height: 360px;
  }
}
.color{
  background-color:#dbd8d8;
}
.color:hover{
  color:#2878EB;
}

/* Enroll courses ends */

/* Enroll innercourses starts */
body {
  background-color: #e8f5e9;
}

.minutes {
  font-size: 15px;
}
@media screen and (max-width: 576px) {
  .image {
    margin: auto !important;
    display: block !important;
    margin-top: 1rem !important;
  }
}
.hover:hover {
  background-color:whitesmoke;
  color:black;
}
/* Enroll innercourses ends */
/* enroll_coursetuttorial */
@media screen and (max-width: 992px) {
  .modules {
    display: none;
  }

  .button {
    display: inline !important;
    width: fit-content;
  }
}
@media screen and (min-width: 992px) {
  .button {
    display: none !important;
  }
}
.fa-angle-down , .fa-angle-up{
  cursor: pointer;
}
.fa-angle-double-left ,.fa-angle-double-right{
  cursor: pointer;
}
iframe {
  border-radius: 20px;
}
 .learningIframe.fullscreen {
  position: relative;
   width: 100%!important;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: white;;
} 

/* .learningIframe {
  margin-bottom: 50px; /* Adjust this value as needed 
} */


#learningVideosAngleDown {
  display: none;
}


#learningMaterialsAngleDown {
  display: none;
}


#quizAngleDown {
  display: none;
}
#certificateAngleDown {
  display: none;
}


#angleright {
  display: none;
}

